@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 214 30% 95%;
    --foreground: 213 20% 27%;

    --card: 280 14% 97%;
    --card-foreground: 213 20% 27%;

    --popover: 280 14% 97%;
    --popover-foreground: 213 20% 27%;

    --primary: 204 33% 63%;
    --primary-foreground: 0 0% 100%;

    --secondary: 207 35% 84%;
    --secondary-foreground: 213 20% 27%;

    --muted: 220 25% 95%;
    --muted-foreground: 210 12% 54%;

    --accent: 338 47% 81%;
    --accent-foreground: 213 20% 27%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214 22% 91%;
    --input: 220 25% 96%;
    --ring: 204 33% 63%;

    --radius: 1.25rem;

    --sidebar-background: 214 30% 95%;
    --sidebar-foreground: 213 20% 27%;
    --sidebar-primary: 204 33% 63%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 338 47% 81%;
    --sidebar-accent-foreground: 213 20% 27%;
    --sidebar-border: 214 22% 91%;
    --sidebar-ring: 204 33% 63%;

    --font-heading: 'DM Serif Display', serif;
    --font-body: 'Inter', sans-serif;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
